<!-- templates/user/login.html -->

{% extends "_base.html" %}


{% block content %}

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500"
                 alt="Your Company"
                 class="mx-auto h-10 w-auto"/>
            <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-black dark:text-white">
                Sign in to your account
            </h2>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form action="{% url 'user_login' %}" method="POST" class="space-y-6">
                {% csrf_token %}

                {% include "components/signup/form_field.html" with field=form.username %}

                {% with field=form.password %}
                    <div>
                        <div class="flex items-center justify-between">
                            <label for="{{ field.id_for_label }}"
                                   class="block text-sm/6 font-medium dark:text-gray-100 text-gray-900">
                                {{ field.label }}
                            </label>
                            <div class="text-sm">
                                <a href="#" class="font-semibold text-indigo-400 hover:text-indigo-300">
                                    Forgot password?
                                </a>
                            </div>
                        </div>
                        <div class="mt-2">{{ field }}</div>
                        <div class="mt-2 block text-sm/6 font-medium dark:text-red-200 text-red-800">{{ form.non_field_errors }}</div>
                    </div>
                {% endwith %}
                <div>
                    <button type="submit"
                            class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                        Sign in
                    </button>
                </div>
            </form>
            <p class="mt-10 text-center text-sm/6 text-gray-400">
                Not a member?
                <a href="#" class="font-semibold text-indigo-400 hover:text-indigo-300">Start a 14 day free
                    trial</a>
            </p>
        </div>
    </div>

{% endblock %}